mixin coins()
    .coins  
        .coins__body.container 
            .coins__top
                h2.coins__title.title Coins can be upvoted every 24h
                button(type="buttom").coins__button Update #[img(src="@img/quotes-icon-update.svg", alt="" draggable="false" loading="lazy")]
            .coins__items 
                .coins__list-container
                    .coins__list 
                        button(type="button" data-target="hot").coins__item.change-content.active #[img(src="@img/coins-icon-1.svg", alt="" draggable="false" loading="lazy")] Today’s Hot


                        .coins__drop
                            button(type="button").coins__drop-btn.coins__item #[img(src="@img/coins-icon-2.svg", alt="" draggable="false" loading="lazy")] New
                            .coins__drop-content                                                                                                          
                                button(type="button" data-target="new").coins__drop-item.change-content.coins__item.default #[img(src="@img/coins-icon-2.svg", alt="" draggable="false" loading="lazy")] New
                                button(type="button" data-target="recently").coins__drop-item.change-content.coins__item #[img(src="@img/prices-img-3.svg", alt="" draggable="false" loading="lazy")] Recently Added


                        button(type="button" data-target="best").coins__item.change-content #[img(src="@img/coins-icon-3.svg", alt="" draggable="false" loading="lazy")] All Time Best


                        .coins__drop
                            button(type="button").coins__drop-btn.coins__item #[img(src="@img/coins-icon-4.svg", alt="" draggable="false" loading="lazy")] 24h Gainer
                            .coins__drop-content
                                button(type="button" data-target="gainer24h").coins__drop-item.change-content.coins__item.default #[img(src="@img/coins-icon-4.svg", alt="" draggable="false" loading="lazy")] 24h Gainer
                                button(type="button" data-target="gainer1h").coins__drop-item.change-content.coins__item #[img(src="@img/coins-icon-4.svg", alt="" draggable="false" loading="lazy")] 1h Gainer
                                button(type="button" data-target="loser24h").coins__drop-item.change-content.coins__item.default #[img(src="@img/coins-icon-4.svg", alt="" draggable="false" loading="lazy")] 24h Losers
                                button(type="button" data-target="loser1h").coins__drop-item.change-content.coins__item #[img(src="@img/coins-icon-4.svg", alt="" draggable="false" loading="lazy")] 1h Losers


                form(action="").header__form 
                    input(type="text" placeholder="Search").header__input 
                    button(type="submit") 
                        img(src="@img/header-icon-search.svg", alt="" draggable="false" loading="lazy")  
                    .header__form-res 
                        .header__form-res-title COINS - 100
                        a(href="#!").header__form-res-item
                            .header__form-res-item-left
                                .header__form-res-item-img
                                    img(src="@img/shiba.png", alt="" draggable="false" loading="lazy") 
                                span.header__form-res-item-title MAMA SHIBA
                            span.header__form-res-item-short MAMA
                        a(href="#!").header__form-res-item
                            .header__form-res-item-left
                                .header__form-res-item-img
                                    img(src="@img/shiba.png", alt="" draggable="false" loading="lazy") 
                                span.header__form-res-item-title MAMA SHIBA
                            span.header__form-res-item-short MAMA
                        a(href="#!").header__form-res-item
                            .header__form-res-item-left 
                                .header__form-res-item-img 
                                    img(src="@img/shiba.png", alt="" draggable="false" loading="lazy") 
                                span.header__form-res-item-title MAMA SHIBA 
                            span.header__form-res-item-short MAMA 
            .quotes__content  
                .quotes__header  
                    ul.quotes__list  
                        li.quotes__li.quotes__li_coins #[img(src="@img/quotes-icon-diamond.svg", alt="" draggable="false" loading="lazy")] Promoted coins 
                        li.quotes__li.quotes__li_symbol #[img(src="@img/quotes-icon-symbol.svg", alt="" draggable="false" loading="lazy")] Symbol
                        li.quotes__li.quotes__li_hour #[img(src="@img/quotes-icon-statistic.svg", alt="" draggable="false" loading="lazy")] 1h
                        li.quotes__li.quotes__li_dollar #[img(src="@img/quuotes-icon-dollar.svg", alt="" draggable="false" loading="lazy")] Market Cap
                        li.quotes__li.quotes__li_calendar #[img(src="@img/quotes-icon-calendar.svg", alt="" draggable="false" loading="lazy")] Launch
                        li.quotes__li.quotes__li_upvotes #[img(src="@img/quotes-icon-upvotes.svg", alt="" draggable="false" loading="lazy")] Upvotes
                .quotes__items.change-target.active#hot 
                    +item-red
                    +item-red
                    +item
                    +item-red
                    +item
                    +item
                .quotes__items.change-target#new 
                    +item 
                    +item-red
                .quotes__items.change-target#recently 
                    +item 
                    +item-red
                    +item
                    +item
                    +item
                    +item
                .quotes__items.change-target#best 
                    +item
                    +item
                    +item
                    +item 
                .quotes__items.change-target#gainer24h 
                    +item
                    +item
                    +item
                    +item
                    +item
                .quotes__items.change-target#gainer1h 
                    +item
                    +item
                    +item
                    +item
                    +item
                    +item
                    +item
                .quotes__items.change-target#loser24h 
                    +item-red
                    +item-red
                    +item-red
                .quotes__items.change-target#loser1h 
                    +item-red
                    +item-red
                    +item-red
                    +item-red
                    +item-red
                    +item-red
            a(href="#!").coins__btn Show More 
