mixin menu()
    .menu 
        .menu__body.container   
            .menu__slider 
                .menu__swiper.swiper
                    .menu__swiper-wrapper.swiper-wrapper 
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Coin Ranking
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Contract Scanner
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Releases & Updates
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Add a Coin
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link KYC for Project 
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Promote | Traffic Stars
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Coin Ranking
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Contract Scanner
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Releases & Updates
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Add a Coin
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link KYC for Project 
                        .swiper-slide.menu-slide 
                            a(href="#!").menu__slide-link Promote | Traffic Stars
                .menu__buttons 
                    .swiper-button-next.menu__button-next

