mixin popup()
    .popup.active
        .popup-close.popup__close
        .popup__body
            p.popup__title Thank you! Your coin will be added ASAP
            .popup__img
                img(src="@img/popup.png", alt="" draggable="false")
            p.popup__p You will get notified in your Telegram group when it gets approved!#[br]#[br]Please note, if your coin stays inactive for a long while, it may get delisted.#[br]#[br]If your project has an airdrop, make sure to #[b ADD IT TO COINMOONER!]#[br]#[br]Additionally, you can complete KYC verification to build up trust with your investors: #[b KYC for Project Owners]
            button(type='button').popup-close.popup__btn Ok, Got it!
