mixin top()
    .top 
        .top__body.container 
            ul.top__list 
                li.top__li Cryptos: &nbsp;#[span.top__span 14 041] #[img(src="@img/top-icon-down.png", alt="" draggable="false")]
                li.top__li.up BTC: &nbsp;#[span.top__span $42,315] #[img(src="@img/top-icon-down.png", alt="" draggable="false")]
                li.top__li.up ETH: &nbsp;#[span.top__span $2,815] #[img(src="@img/top-icon-down.png", alt="" draggable="false")]
            .top__dropdown 
                button(type="button").top__dropdown-top 
                    .top__dropdown-img 
                        img(src="@img/top-icon-flag.svg", alt="" draggable="false")
                    .top__dropdown-arrow 
                        img(src="@img/top-icon-arrow.svg", alt="" draggable="false")
                .top__dropdown-content
                    button(type="button").top__dropdown-item 
                        .top__dropdown-img 
                            img(src="@img/top-icon-flag-1.svg", alt="" draggable="false")
                    button(type="button").top__dropdown-item 
                        .top__dropdown-img 
                            img(src="@img/top-icon-flag.svg", alt="" draggable="false")